body {
  margin: 0;
  font-family: sans-serif;
}

.title {
  margin-bottom: 20px;
}

/* HEADER */

.header {
  background: white;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  padding: 0 8px 0 8px;
  -webkit-box-shadow: 0 0 20px rgba(170, 167, 167, 0.6);
  box-shadow: 0 0 20px rgba(170, 167, 167, 0.6);
}

.header a {
  color: #aaa;
  font-family: 'Ropa Sans', sans-serif;
  text-decoration: none;
  font-size: 12pt;
}

.header li {
  list-style: none;
  display: inline-block;
  padding-right: 5px;
  float: right
}

.header li img {
  width: 18px;
}

.header ul {
  margin: 0;
}

.header .hidden {
  display: none;
}


/* TOP NEWS */

.top-news {
  margin: 50px 5px 0 5px;
  color: white;
  font-weight: bold;
}

.article-1 {
  background: -webkit-linear-gradient(290deg, rgba(225, 0, 84, 0.9) 0%, transparent 50%), -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 0%, transparent 100%), url('../images/code.jpg');
  height: 500px;
}

.article-1 h1 {
  font-size: 46pt;
}

.featured-articles article {
  margin: 8px 8px 8px -10px;
}

.article-2 {
  background: -webkit-linear-gradient(rgba(0,0,0,.1) 7%, transparent 100%), -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 30%, transparent 100%), url('../images/google.jpg');
  height: 240px;
}

.main-article .description {
  position: absolute;
  width: 50%;
  margin-top: 200px;
}

.main-article .description h1{
  font-size: 36pt;
}

.main-article .description p{
  font-size: 12pt;
}

.description {
  position: absolute;
  margin: 90px 20px 0 20px;
}

.description h1 {
  font-size: 18pt;
  font-weight: bold;
}

.description p {
  font-weight: lighter;
  font-size: 10pt;
}

.article-3 {
  height: 240px;
  background: -webkit-linear-gradient(rgba(0,0,0,.1) 7%, transparent 100%), -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 30%, transparent 100%), url('../images/ebay.jpg');
}

/* LATEST NEWS */

.latest {
  margin: 50px 0px 50px 75px;
}

.latest h1 a {
  font-size: 21pt;
  color: #F42;
  text-decoration: none;
}

.latest h1 a:hover {
  color: black;
}

.latest a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.latest a:hover {
  box-shadow: inset 0 -1px 0 rgba(255,68,34,.25);
  color: #F42;
}

.latest img {
  width: 260px;
  margin-bottom: 10px;
}

.articles {
  margin-bottom: 10px;
  padding: 10px;
}

/* LATEST FUNDING */

.funding {
  margin: 50px 80px 0 80px;
}

.funding h1 a {
  font-size: 21pt;
  color: #F42;
  text-decoration: none;
}

.funding h1 a:hover {
  color: black;
}

.more li {
  display: inline-block;
  float: right;
  padding-left: 10px;
}

.more li a {
  color: #FF4422;
  text-decoration: none;
}

.more li a:hover {
  color: black;
  text-decoration: none;
}

li #separator {
  border-left: 1px solid #f42;
  border-right: 1px solid #f42;
  padding-right: 10px;
  padding-left: 10px;
}

.investment-card {
  width: 250px;
  height: 250px;
  background-color: #FFFAF8;
  line-height: normal;
  text-align: left;
}

.investment-card a {
  text-decoration: none;
  color: black;
}

.investment-card .name {
  background-color: #FF4422;
  height: 50px;
  padding: 18px 0 0 95px;
  color: white;
  font-weight: bold;
}

.investment-card .image {
  margin: -35px 0 0 15px;
}

.investment-card .image img {
  width: 60px;
  height: 60px;
}

.investment-card .deets {
  background-color: #FFEBE7;
  height: 60px;
  padding: 15px 0 15px 95px;
  color: black;
  margin: -30px 0 0 0;
}

.investment-card .deets h4 {
  font-weight: bold;
}

.investment-card .deets p {
  font-size: 11pt;
  color: #aaaaaa;
  font-family: 'Ropa Sans', sans-serif;
}

.investment-card .detail {
  font-size: 10.5pt;
  font-family: 'Quicksand', sans-serif;
  margin: 15px;
}

.investment-card .detail a:hover {
  font-weight: bold;
}

.investment-card .desc {
  font-size: 9pt;
  font-family: 'Quicksand', sans-serif;
  margin: 15px;
  padding-bottom: 15px;
  padding-top: 5px;
  border-top: 1px solid #FFCDC2;
}

.investment-card .desc span {
  color: #aaaaaa;
}

/*  CATEGORIES */

/* title */

.category {
  margin: 50px 80px 50px 80px;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.1;
  font-size: 10pt;
  text-align: justify;
}

.category .title a{
  font-weight: bold;
  font-size: 21pt;
  text-decoration: none;
  color: #f42;
}

.category .title a:hover{
  color: black;
}

/**/

/* article */

.category .article-1 {
  background: -webkit-linear-gradient(rgba(0,0,0,.1) 5%, transparent 100%), -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 20%, transparent 100%), url('../images/image2.png');
  height: 280px;
}

.category .article-2 {
  background: -webkit-linear-gradient(rgba(0,0,0,.1) 5%, transparent 100%), -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 20%, transparent 100%), url('../images/image3.png') center;
  height: 280px;
}
.category .article-3 {
  background: -webkit-linear-gradient(rgba(0,0,0,.1) 5%, transparent 100%), -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 20%, transparent 100%), url('../images/image4.png') 55% 10%  ;
  height: 280px;
}

.category article .description {
  color: white;
  font-size: 10pt;
  margin-top: 80px;
  width: 320px;
}

.category article .description h1 {
  font-size: 18pt;
  font-weight: bold;
  width: 100%;
}

.category article .description p {
  font-weight: lighter;
  font-size: 10pt;
}


/**/


/* related news */

/* latest */

.category .latest-news {
  background-color: #FFF4F2;
  height: 100px;
  color: #f42;
}

.category .latest-news .one {
  background: -webkit-linear-gradient(rgba(0,0,0,.1) 5%, transparent 100%), -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 20%, transparent 100%), url('../images/thumb.jpg') center;
  height: 100px;
  margin: -3px 0 0 0;
}

.category .latest-news .text {
  margin: 10px;
  text-align: left;
}

.category .latest-news a {
  color: #f42;
  text-decoration: none;
}

.category .latest-news a:hover {
  box-shadow: inset 0 -1px 0 rgba(255,68,34,.25);
  color: #f42;
}

/* list */

.category ul {
  list-style: none;
  margin: 20px 0 20px 10px;
}

.category li::before {
  color: #f42;
  content: "• ";
}

.category li {
  text-indent: -.9em;
  padding: 10px 5px 10px 5px;
  border-bottom: 0.8px solid #ccc;
}

.category li a {
  color: #aaaaaa;
  text-decoration: none;
}

.category li a:hover {
  color: black;
}


/**/

/*  LATEST DEAL */

 .deals p {
   margin-top: 10px;
   font-size: 11pt;
 }

 .deals span {
   color: #aaaaaa;
   text-decoration: line-through;
   font-size: 9pt;
 }

/**/

/* FOOTER */
.footer {
  background-color: #131313;
  height: 400px;
  width: 100%;
  color: white;
  padding-top: 20px;
}

.social-media {
  margin-top: 50px;
}

.social-media li {
  display: inline-block;
  text-align: center;
}

.social-media li img {
  width: 16px;
}

.social-media li a {
  background-color: #333333;
  border: 3px solid #333333;
  border-radius: 50%;
  padding: 12px 10.5px 6px 10.5px;
}

.social-media li a:hover {
  background-color: #131313;
  border: 3px solid #333333;
  border-radius: 50%;
}

footer li {
 list-style: none;
}

.footer a {
  color: #AAA;
  text-decoration: none;
  font-size: 13pt;
  padding: 5px;
  font-family: 'Ropa Sans', sans-serif;
}

.footer a:hover{
  color: white;
}

.inline {
  margin-top: 50px;
  font-family: 'Ropa Sans', sans-serif;
  margin-bottom: 30px;
}

.inline li{
  display: inline-block;
}

.trending {
  margin-left: 50px;
}

.trending a {
  margin-bottom: 30px;
}

.trending li a {
  color: #f5f5f5;
  font-family: 'Quicksand', sans-serif;
  font-size: 12pt;
  line-height: 1.5em;
}

.trending span {
  color: #333;
}

.copyright {
  color: #aaa;
  font-size: 10pt;
  background-color: #000000;
  height: 100px;
  padding-top: 32px;
}

.copyright span {
  color: #F42;
}

.copyright #logo {
  width: 48px;
}

/* HIDDEN MENU */

.dropbtn {
  border: none;
  cursor: pointer;
  font-family: 'Ropa Sans', sans-serif;
  color: #CCC;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  background-color: white;
}

.dropdown-content a {
  color: #ccc;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown .dropbtn:hover {
  color: black;
}

/**/
